page-profil {
    .titlelab{
        color:white !important;
        font-size: 18px;
        padding-left: 21px;
    }

    .infoProfil{
        color:white ;
        margin: 10px;
        font-size: 15px;
        padding-left: 18px;
        
    }

    .idUser{
        color:#ecf0f1 !important;
        $base-font-size: 18px;
    }

    .mainDivProfil{
        background-color: #3bdb7e;
        $base-padding: 16px;
    }
    .btn {
        margin-top: 10%;
        background-color: #27AE60 !important;
        border-radius: 8px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}
