page-home {

    ion-icon{
        color: white !important;
    }

    .left-button{
        padding-right: 10px;
    }

    .search-menu{
        z-index: 999;
        position: absolute;
        background-color: #2ecc71;
        height: 500px;
        width: 100%;
        box-shadow: inset 0px 10px 10px rgba(39,174,96,.5);
        border: none;
    }

    .input-ville-cp{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .input-search-menu{
        box-shadow: inset 0px 1px 5px rgba(51, 51, 51, 0.26);
        background-color: white;
        border-radius: 5px;
    }

    .input-search-menu .text-input{
        padding-left: 10px;
    }

    .input-short{
        width: 40%;
        margin-right: auto;
        display: inline-block;
    }
    
    .input-left{
        margin-left: 5.5%;
    }

    .dash{
        margin-left: 2.3%;
        margin-right: 2.3%;
        color: #fff;
        font-weight: 700;
        font-size: 15px;
    }

    .double-input{
        margin-left: auto;
        margin-right: auto;
    }

    .inline-block{
        display: inline-block;
    }

    .checkbox-label{
        margin: 0;
        vertical-align: top;
        padding-left: 5px;
        color: #fff;
        font-weight: 400;
    }
    .checkbox-div{
        padding-top: 10px;
        padding-left: 5.5%;
    }

    .content-checkbox{
        padding-top: 10px;
    }

    .title-checkbox{
        padding-left: 5.5%;
        font-weight: 700;
        color: #fff;
        font-size: 15px;
    }

    .rechercher{
        position: absolute;
        right: 20px;
        bottom: 15px;
        height: 40px;
        font-weight: 600;
    }

}