// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@font-face {
    font-family: 'Arial Rounded MT Bold';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/arlrdbd.ttf');
}

* {
    font-family: "Arial Rounded MT Bold";
}

.side-menu{
    background-color: #2ecc71;
}

.side-menu button{
    color: #27AE60;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    height: 60px;
    background-color: #fff;
    font-family: "Arial Rounded MT Bold";
    border-bottom: .5px solid #27AE60;
}

.side-menu .item-inner{
    border: none !important;
}

.side-menu-header .toolbar-background{
    background-color: #27AE60;
}

.side-menu-header .toolbar{
    height: 60px;
}

.side-menu-header .img{
    width: 42.75px;
    height: 38.25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.no-scroll .scroll-content{
    overflow: hidden;
}

.toolbar{
    height: 60px;
    border: none;
}

.toolbar-background{
    background-color: #27AE60 !important;
    border: none !important;
}

.toolbar-title{
    color: white !important;
    font-family: "Arial Rounded MT Bold";
    font-size: 17px;
}

.back-button{
    color: #2ecc71 !important;
    font-family: "Arial Rounded MT Bold";
    font-size: 15px;
}


